<footer>
    <div class="zerogrid wrap-footer">
        <div class="row">
            <div class="col-1-3 col-footer-1">
                <div class="wrap-col">
                    <h3 class="widget-title">О нас</h3>
                    <p>Наша поликлиника предоставляет широкий спектр медицинских услуг для всей семьи. Мы стремимся обеспечить качественное и доступное медицинское обслуживание с использованием современных технологий и подходов.</p>
                    <p>Наши специалисты с многолетним опытом всегда готовы помочь вам и вашим близким сохранить здоровье и повысить качество жизни.</p>
                </div>
            </div>
            <div class="col-1-3 col-footer-2">
                <div class="wrap-col">
                    <h3 class="widget-title">Последние новости</h3>
                    <ul>
                        <li><a href="#">НОВЫЕ УСЛУГИ В ОБЛАСТИ ДИАГНОСТИКИ</a></li>
                        <li><a href="#">ОТКРЫТИЕ СПЕЦИАЛИЗИРОВАННОГО ПРИЕМА ПО ДЕРМАТОЛОГИИ</a></li>
                        <li><a href="#">СЕЗОННАЯ ВАКЦИНАЦИЯ ОТ ГРИППА</a></li>
                        <li><a href="#">ПРОФИЛАКТИЧЕСКИЕ ОСМОТРЫ ДЛЯ ДЕТЕЙ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1-3 col-footer-3">
                <div class="wrap-col">
                    <h3 class="widget-title">Контакты</h3>
                    <ul>
                        <li>Адрес: 12345, г. Москва, ул. Медицинская, д. 10</li>
                        <li>Телефон: +7 (495) 987-65-43</li>
                        <li>Email: info@polyclinic.ru</li>
                        <li>Рабочие часы: Пн-Сб, 8:00 - 20:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
